@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  height: 100vh;
  display: flex;
  justify-content: center;
  width: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: auto;
  height: 100vh;
  background-color: #161616;
  max-width: 72rem;
  width: 1112px;
  font-family: 'Montserrat','Arial';
  padding: 0;
  margin: 0;
}

body.no-max-width {
  max-width: none;
}

code {
  font-family: 'Montserrat','Arial';
}

@keyframes fill {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.animate-fill {
  animation: fill 2s infinite;
}

.linkvisited {
  border-bottom: 2px solid var(--tw-color-secondary);
  color: var(--tw-color-secondary);
}

.link:hover {
  color: var(--tw-color-secondary);
  cursor: pointer;
}